/.phpunit.cache
/.fleet
/.idea
/.nova
/.vscode
/.zed
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads/*
!/public/uploads/.gitignore
/public/reportings/*.pdf
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/app/temp/*
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*.log
/vendor
/_update
.DS_Store
.env
.env.*
!.env.example
.env.backup
.env.production
.env.bg.**
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Lock files (requested to ignore)
bun.lock
package-lock.json
composer.lock
yarn.lock
pnpm-lock.yaml

# OS Junk
Thumbs.db
NUL
